:root{
  --cream:#fdf0d5;
  --peach:#f4b393;
  --orange:#ee964b;
  --coral:#f95738;
  --dark:#690E05;
  --white:#ffffff;
  --soft:#fff8f3;
  --shadow:0 8px 20px rgba(0,0,0,0.08);
  --radius:24px;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
}

body{
  font-family:Poppins,sans-serif;
  background:var(--cream);
  color:var(--dark);
  overflow-x:hidden;
}

.hero{
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:60px 8%;
  background:linear-gradient(
    135deg,
    var(--cream),
    #ffe0d2,
    #ffd2bf
  );
}

.hero-content{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:40px;
  max-width:1200px;
  width:100%;
  flex-wrap:wrap;
}

.hero-text{
  flex:1;
}

.hero-text h1{
  font-size:4rem;
  margin-bottom:20px;
}

.phrase{
  font-size:1.4rem;
  color:var(--coral);
  font-weight:600;
}

.description{
  margin-top:20px;
  line-height:1.7;
  max-width:500px;
}

.story-button{
  display:inline-block;
  margin-top:30px;
  padding:14px 28px;
  background:var(--dark);
  color:white;
  border-radius:40px;
  transition:0.3s;
}

.story-button:hover{
  background:var(--coral);
}

.hero-image{
  position:relative;
}

.hero-image img{
  width:320px;
  border-radius:30px;
  box-shadow:var(--shadow);
}

.bubble{
  position:absolute;
  top:20px;
  right:-20px;
  background:white;
  padding:12px 18px;
  border-radius:30px;
  box-shadow:var(--shadow);
  font-weight:600;
}

.menu{
  padding:80px 8%;
}

.section-title{
  text-align:center;
  font-size:2.7rem;
  margin-bottom:50px;
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:30px;
}

.card{
  background:var(--soft);
  padding:28px;
  border-radius:var(--radius);
  box-shadow:var(--shadow);
  transition:0.3s;
}

.card:hover{
  transform:translateY(-6px);
}

.icon{
  font-size:3rem;
  margin-bottom:14px;
}

details{
  margin-top:16px;
}

summary{
  background:var(--peach);
  padding:12px;
  border-radius:14px;
  cursor:pointer;
  font-weight:600;
}

ul{
  padding-left:18px;
  line-height:2;
  margin-top:12px;
}

.food-img{
  width:100%;
  margin-top:12px;
  border-radius:16px;
}

footer{
  margin-top:80px;
  background:var(--dark);
  color:white;
  padding:60px 8%;
}

.footer-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:40px;
}

footer h3{
  color:var(--peach);
  margin-bottom:12px;
}

@media(max-width:768px){

  .hero-text h1{
    font-size:3rem;
  }

  .hero-content{
    text-align:center;
    justify-content:center;
  }

  .description{
    margin:auto;
    margin-top:20px;
  }

}
